.content {
    padding: 40px 0;

    h2 {
        margin: 0;
        text-transform: uppercase;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.contentHeader {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;

    .searchPanel {
        display: flex;
        position: relative;
        align-items: center;
        border: 1px solid #e1e1e1;
        border-radius: 10px;
        padding: 0 15px;

        input {
            width: 220px;
            border: none;
            padding: 14px;
            font-size: 16px;
        }

        .close {
            position: absolute;
            right: 10px;
            cursor: pointer;
        }
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0;

        .contentHeader {
            flex-direction: column;

            h2 {
                display: none;
            }

            .searchPanel {
                input {
                    width: 100%;
                }
            }
        }
    }
}
